{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
    <h1>News index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Author</th>
                <th>Date</th>
                <th>Time</th>
                <th>Followers</th>
                <th>IsVisible</th>
                <th>Rating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.content }}</td>
                <td>{{ news.author }}</td>
                <td>{{ news.date }}</td>
                <td>{{ news.time }}</td>
                <td>{{ news.followers }}</td>
                <td>{{ news.isVisible ? 'Yes' : 'No' }}</td>
                <td>{{ news.Nrating }}</td>
                <td>
                    <a href="{{ path('news_show', {'id': news.id}) }}">show</a>
                    <a href="{{ path('news_edit', {'id': news.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_new') }}">Create new</a>
{% endblock %}