{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <h1>Users index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Age</th>
                <th>Followers</th>
                <th>Role</th>
                <th>IsActive</th>
                <th>Password</th>
                <th>PlainPassword</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.date }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.followers }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.plainPassword }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('users_new') }}">Create new</a>
{% endblock %}